@font-face{
    font-family: 'MyFont';
    src: url('../src/GraublauWeb.woff.ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'MyFont';
    background: url('../src/icon.png');
}